@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');

//font-family: 'Kumbh Sans', sans-serif;

:root {
    
    --ff-primary: 'Kumbh Sans', sans-serif;
    
    --fs-400: 0.75rem; //12px
    --fs-500: 0.8125rem; //13px
    --fs-600: 0.875rem; //14px
    --fs-700: 1rem;
    --fs-800: 1.125rem; //18px
    --fs-900: 1.25rem; //20px
}