@import 'breakpoints';
@import 'fonts';
@import 'colors';
@import 'resets';

:root {
    --transition-speed: 1000ms;
}


body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: var(--fs-400);
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.container {
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
}

.main {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.card-container {
    position: relative;
    width: 95%;
    max-width: 400px;
    margin-inline: auto;

    @include mediaQuery(xsm2) {
        width: 90%;
    }

    @include mediaQuery(med) {
        max-width: 700px;
        width: 100%;
        
        &::before {
            content: url("../images/illustration-box-desktop.svg");
            display: block;
            position: absolute;
            left: -99px;
            top: 125px;
            transform: translate(0,0);
            z-index: 9;
        }
    }
}

.card {
    background-color: #FFF;
    border-radius: 2em;
    padding-block: 2em;
    box-shadow: 0 10px 20px 3px rgba(0,0,0,.3);



    @include mediaQuery(med) {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        overflow: hidden;
    }

    & > * {
        width: 90%;
        max-width: 1200px;
        margin-inline: auto;

        //        outline: 1px solid red;

        @include mediaQuery(med) {
            width: 90%;
        }
    }

    &__img {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;


        &--illustration[mobile] {
            position: absolute;
            width: 90%;
            max-width: 240px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -170px);
        }

        &--pattern[mobile] {
            width: 90%;
            max-width: 240px;
            margin-block-start: -20px;
        }

        &--illustration[desktop],
        &--box[desktop],
        &--pattern[desktop] {
            display: none;
        }

        @include mediaQuery(med) {


            &--illustration[mobile],
            &--pattern[mobile] {
                display: none;
            }

            &--illustration[desktop],
            &--box[desktop],
            &--pattern[desktop] {
                display: unset;
            }


            &--illustration[desktop] {
                position: absolute;
                width: 100%;
                max-width: 400px;
                left: -65px;
                top: 40px;
                transform: translate(0, 0);
            }

            &--pattern[desktop] {
                width: 100%;
                max-width: 400px;
                margin-inline-start: -200px;
                margin-block-start: -5px;
                transform: scale(1.4);
            }
        }
    }

    &__content {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;

        h1 {
            color: var(--clr-text-dark-title-primary);
            line-height: 1;
            margin-block: 1.2em;
            text-align: center;
            font-size: 30px;
        }
    }

    &__faqs {
        position: relative;
        cursor: pointer;

        & + & {
            margin-block-start: 1em;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: var(--divider);
        }

        &__question {
            font-size: var(--fs-500);
            color: var(--clr-text-dark-primary-lighter);
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: color var(--transition-speed) ease;
            
            &:hover {
                color: var(--clr-accent);
            }

            .arrow {
                transition: transform var(--transition-speed) ease;
            }

        }

        &__answer {
            font-size: var(--fs-500);
            color: var(--clr-text-dark-primary-lighter);
            margin-block: .87em;

            transition: max-height var(--transition-speed) ease;
            max-height: 0;
            overflow: hidden;


        }

        &.active &__answer {

            max-height: 500px;
        }

        &.active &__question p {
            color: var(--clr-text-dark-title-primary);
            font-weight: 700;
        }

        &.active .arrow {
            transform: rotate(180deg);
        }
    }

}

