@import 'breakpoints';
@import 'fonts';
@import 'colors';
@import 'resets';

:root {
    --transition-speed: 1000ms;
}


body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: var(--fs-400);
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.container {
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
}

.main {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.card {
    background-color: #FFF;
    border-radius: 2em;
    padding-block: 2em;

    & > * {
        width: 90%;
        max-width: 1200px;
        margin-inline: auto;
    }

    &__img {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;


        &--illustration {
            position: absolute;

            width: 90%;
            max-width: 200px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -140px);

        }

        &--pattern {
            width: 90%;
            max-width: 200px;
            margin-block-start: -10px;
        }
    }

    &__content {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
        //        margin-block-start: 10rem;

        h1 {
            line-height: 1;
            margin-block: 1.2em;
            text-align: center;
            font-size: 30px;
        }
    }

    &__faqs {
        position: relative;
        cursor: pointer;

        & + & {
            margin-block-start: 1em;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: var(--divider);
        }

        &__question {
            font-size: var(--fs-500);
            color: var(--clr-text-dark-primary);

            display: flex;
            justify-content: space-between;
            align-items: center;


            .arrow {
                transition: transform var(--transition-speed) ease;
            }

        }

        &__answer {
            font-size: var(--fs-500);
            color: var(--clr-text-dark-primary);
            margin-block: .87em;

            transition: max-height var(--transition-speed) ease;
            max-height: 0;
            overflow: hidden;


        }

        &.active &__answer {

            max-height: 500px;
        }

        &.active &__question p {
            color: var(--clr-text-dark-title-primary);
            color: red;
        }

        &.active .arrow {
            transform: rotate(180deg);
        }
    }

}

